* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  border-bottom: 3px solid #fd2d01;
}
header a {
  margin: auto;
}
header a img {
  margin: auto;
}

#connexion {
  background-color: #4e5166;
  color: white;
  padding: 5% 0;
}
#connexion #presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#connexion #presentation h1 {
  font-size: 40px;
}
#connexion #presentation h1 span {
  color: #fd2d01;
}
#connexion #presentation p {
  font-size: 25px;
  margin: 5%;
}
#connexion #choice {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 30%;
}
#connexion #choice .choice-btn {
  background-color: #ffd7d7;
  padding: 5%;
  cursor: pointer;
  transition: all 450ms;
}
#connexion #choice .choice-btn:hover {
  transform: scale(1.13);
  background-color: #ff8b8b;
}
#connexion #choice .choice-btn a {
  text-decoration: none;
  color: black;
}
#connexion #suggestions {
  display: flex;
  width: 35%;
  padding: 5% 0;
  margin: auto;
}
#connexion #suggestions ul {
  margin: auto;
}
#connexion #suggestions ul li span {
  color: #fd2d01;
}
#connexion h2 {
  text-align: center;
}
#connexion .connexion-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
#connexion .connexion-form .connexion-form_item {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
#connexion .connexion-form .connexion-form_item label {
  padding-bottom: 3%;
}
#connexion .connexion-form .connexion-form_item input {
  border: 1px solid black;
  height: 30px;
}
#connexion .connexion-form .fa-solid {
  width: 22px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 95%;
}
#connexion .connexion-form #connexion-form__submit {
  width: 25%;
  margin: auto;
  border: 1px solid black;
  margin: 5% auto;
  background-color: #ffd7d7;
  padding: 5%;
  cursor: pointer;
  transition: all 450ms;
}
#connexion .connexion-form #connexion-form__submit:hover {
  transform: scale(1.13);
  background-color: #ff8b8b;
}

#post-add {
  background-color: #4e5166;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 5%;
}
#post-add #menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding-bottom: 5%;
}
#post-add #menu .btn-menu {
  background-color: white;
  padding: 3%;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
  transition: all 450ms;
}
#post-add #menu .btn-menu:hover {
  transform: scale(1.15);
  box-shadow: 1px 1px 5px 5px #fe957f;
}
#post-add #menu .btn-menu a {
  text-decoration: none;
  color: black;
}
#post-add #creation-form {
  padding: 5%;
}
#post-add #creation-form .creation-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
#post-add #creation-form .creation-form__item input {
  margin-top: 3%;
}
#post-add #creation-form .creation-form__item textarea {
  margin-top: 3%;
}
#post-add #creation-form #btn-submit {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 20%;
  border: 1px solid black;
  background-color: #ffd7d7;
  padding: 5%;
  cursor: pointer;
  transition: all 450ms;
}
#post-add #creation-form #btn-submit:hover {
  transform: scale(1.13);
  background-color: #ff8b8b;
}

#welcome {
  background-color: #4e5166;
  padding: 5%;
  color: white;
}
#welcome #menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding-bottom: 5%;
  color: black;
  margin-top: 5%;
}
#welcome #menu .btn-menu {
  background-color: white;
  padding: 3%;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
  transition: all 450ms;
}
#welcome #menu .btn-menu:hover {
  transform: scale(1.15);
  box-shadow: 1px 1px 5px 5px #fe957f;
}
#welcome #menu .btn-menu a {
  text-decoration: none;
  color: black;
}
#welcome #menu-mobile {
  display: none;
}
#welcome #posts #card {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #e3e4ea;
  padding: 2%;
  margin: 2%;
  margin-top: 5%;
  color: black;
  box-shadow: #d7d7d7 0 0 15px;
  /* transition: all 450ms;
  &:hover {
      transform: scale(1.05);
      box-shadow: #d7d7d7 0 0 15px;
  }*/
}
#welcome #posts #card #card-container #creation-date {
  border-bottom: 1px solid white;
  padding-bottom: 2%;
}
#welcome #posts #card #card-container #title {
  margin-top: 3%;
  font-size: 28px;
  color: #fd2d01;
}
#welcome #posts #card #card-container #content {
  margin-top: 3%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#welcome #posts #card #card-container #content-click {
  cursor: pointer;
  font-size: 18px;
  margin-top: 3%;
}
#welcome #posts #card #card-container #image-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
#welcome #posts #card #card-container #image-btn #image {
  padding-top: 5%;
  justify-content: center;
  width: 30%;
  margin: auto;
}
#welcome #posts #card #card-container #image-btn #image img {
  width: 100%;
}
#welcome #posts #card #card-container #image-btn #btn {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding-top: 5%;
}
#welcome #posts #card #card-container #image-btn #btn #boutons {
  width: 100%;
  text-align: center;
}
#welcome #posts #card #card-container #image-btn #btn #boutons #modify-post {
  background-color: #5d9bf1;
  margin-right: 5%;
  color: white;
  border: none;
  padding: 5%;
  font-size: 15px;
  cursor: pointer;
  transition: all 450ms;
}
#welcome #posts #card #card-container #image-btn #btn #boutons #modify-post:hover {
  transform: scale(1.13);
}
#welcome #posts #card #card-container #image-btn #btn #boutons #delete-post {
  background-color: #a92e2c;
  color: white;
  border: none;
  padding: 5%;
  font-size: 15px;
  cursor: pointer;
  transition: all 450ms;
}
#welcome #posts #card #card-container #image-btn #btn #boutons #delete-post:hover {
  transform: scale(1.13);
}
#welcome #posts #card #card-container #image-btn #btn #boutons-mobile {
  display: flex;
}
#welcome #posts #card #image-unvisible {
  display: none;
}
#welcome #posts #card #unvisible {
  display: none;
}
#welcome #posts #card #opinion {
  display: flex;
  padding-top: 5%;
  width: 30%;
  justify-content: space-around;
  margin: auto;
}
#welcome #posts #card #opinion .fa-regular {
  font-size: 30px;
  cursor: pointer;
}
#welcome #posts #card #opinion .switch-like {
  color: green;
}
#welcome #posts #card #opinion .switch-dislike {
  color: red;
}
#welcome #posts #card #error {
  text-align: center;
}
#welcome #posts #card #error #error-like {
  display: none;
  font-size: 12px;
  margin-left: auto;
  padding-top: 2%;
}
#welcome #posts #card #error #error-dislike {
  display: none;
  font-size: 12px;
  margin-left: auto;
  padding-top: 2%;
}

#modify-post {
  background-color: #4e5166;
  padding: 5%;
}
#modify-post .btn-menu {
  width: 20%;
  text-align: center;
  margin: auto;
  background-color: white;
  padding: 3%;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
  transition: all 450ms;
}
#modify-post .btn-menu:hover {
  transform: scale(1.15);
  box-shadow: 1px 1px 5px 5px #fe957f;
}
#modify-post .btn-menu a {
  text-decoration: none;
  color: black;
}
#modify-post #creation-form {
  padding: 5%;
}
#modify-post #creation-form .creation-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
#modify-post #creation-form .creation-form__item label {
  color: white;
}
#modify-post #creation-form .creation-form__item input {
  margin-top: 3%;
}
#modify-post #creation-form .creation-form__item textarea {
  margin-top: 3%;
}
#modify-post #creation-form #firstImage {
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%;
}
#modify-post #creation-form #firstImage #image {
  width: 50%;
  margin: auto;
}
#modify-post #creation-form #btn-submit {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 20%;
  border: 1px solid black;
  background-color: #ffd7d7;
  padding: 5%;
  cursor: pointer;
  transition: all 450ms;
}
#modify-post #creation-form #btn-submit:hover {
  transform: scale(1.13);
  background-color: #ff8b8b;
}

#userPost {
  background-color: #4e5166;
  color: white;
  padding: 5%;
}
#userPost .btn-menu {
  text-align: center;
  width: 15%;
  margin: auto;
  background-color: white;
  padding: 2%;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
  transition: all 450ms;
}
#userPost .btn-menu:hover {
  transform: scale(1.15);
  box-shadow: 1px 1px 5px 5px #fe957f;
}
#userPost .btn-menu a {
  text-decoration: none;
  color: black;
}
#userPost #title {
  font-size: 40px;
  text-align: center;
  margin-top: 5%;
  border-bottom: 1px solid white;
}
#userPost #content {
  margin-top: 5%;
  margin-bottom: 5%;
}
#userPost img {
  display: flex;
  width: 30%;
  margin: auto;
}
#userPost #btn {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 30%;
  margin-top: 5%;
}
#userPost #btn #modify-post {
  background-color: #5d9bf1;
  color: white;
  border: none;
  padding: 5%;
  font-size: 15px;
  cursor: pointer;
  transition: all 450ms;
}
#userPost #btn #modify-post:hover {
  transform: scale(1.13);
  box-shadow: 2px 2px 2px 3px #0c2e65;
}
#userPost #btn #delete-post {
  background-color: #a92e2c;
  color: white;
  border: none;
  padding: 5%;
  font-size: 15px;
  cursor: pointer;
  transition: all 450ms;
}
#userPost #btn #delete-post:hover {
  transform: scale(1.13);
  box-shadow: 2px 2px 2px 3px #5c1a1a;
}
#userPost #opinion {
  display: flex;
  margin-top: 5%;
}
#userPost #opinion .fa-regular {
  font-size: 30px;
  margin-left: 5%;
  cursor: pointer;
}
#userPost #opinion .switch-like {
  color: green;
}
#userPost #opinion .switch-dislike {
  color: red;
}

#mentions-legales {
  background-color: #4e5166;
  color: white;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
#mentions-legales #btn-menu {
  width: 20%;
  text-align: center;
  background-color: white;
  padding: 3%;
  margin: auto;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
  transition: all 450ms;
  color: black;
  text-decoration: none;
}
#mentions-legales #btn-menu:hover {
  transform: scale(1.15);
  box-shadow: 1px 1px 5px 5px #fe957f;
}
#mentions-legales #mentions-terms {
  margin-top: 5%;
}
#mentions-legales #mentions-terms h1 {
  font-size: 40px;
  color: #fd2d01;
  text-align: center;
}
#mentions-legales #mentions-terms .title {
  border-bottom: 1px solid white;
  font-size: 25px;
  color: #fd2d01;
}
#mentions-legales #mentions-terms p {
  text-align: justify;
}
#mentions-legales #mentions-terms .link {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #c6c8d3;
  padding-bottom: 5%;
  border-top: 3px solid #fd2d01;
}
footer #nav-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer #nav-footer a {
  text-decoration: none;
  color: black;
}
footer #copyright {
  text-align: center;
}

@media all and (max-width: 768px) {
  #connexion #presentation h1 {
    font-size: 25px;
  }
  #connexion #presentation p {
    font-size: 17px;
  }
  #connexion #choice {
    flex-direction: column;
  }
  #connexion #choice .choice-btn {
    margin-top: 10%;
    text-align: center;
  }
  #connexion #suggestions {
    width: 80%;
    font-size: 13px;
  }
  #connexion .connexion-form {
    width: 80%;
    margin-top: 5%;
  }
  #connexion .connexion-form #connexion-form__submit {
    width: 30%;
    margin-top: 20%;
    text-align: center;
  }

  #welcome #menu {
    display: none;
    /* flex-direction: column;
    text-align: center;
    .btn-menu {
        margin-top: 5%;
    }*/
  }
  #welcome #menu-mobile {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
  }
  #welcome #posts #card #card-container #title {
    font-size: 20px;
  }
  #welcome #posts #card #card-container #content {
    font-size: 15px;
  }
  #welcome #posts #card #card-container #content-click {
    font-size: 15px;
  }
  #welcome #posts #card #image-btn #btn {
    text-align: center;
    flex-direction: column;
  }
  #welcome #posts #card #image-btn #btn #boutons {
    display: none;
  }
  #welcome #posts #card #image-btn #btn #boutons-mobile {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
  }
  #welcome #posts #card #opinion .fa-regular {
    font-size: 20px;
  }

  #post-add #menu {
    flex-direction: column;
    text-align: center;
  }
  #post-add #menu .btn-menu {
    margin-top: 5%;
  }

  footer {
    padding-bottom: 5%;
    padding-top: 5%;
  }
  footer #nav-footer {
    flex-direction: column;
    padding-bottom: 5%;
  }
  footer #nav-footer p {
    order: 2;
    margin-bottom: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
