@mixin btn {
    background-color: $color-secondary;
    padding: 5%;
    cursor: pointer;
    transition: all 450ms;
    &:hover {
        transform: scale(1.13);
        background-color: darken($color-secondary, 15);
        box-shadow: 2px 2px 2px 3px rgb(73, 30, 30);
    }
}

@mixin menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding-bottom: 5%;
    .btn-menu {
        background-color: white;
        padding: 3%;
        border-radius: 10px 0 10px 0;
        cursor: pointer;
        transition: all 450ms;
        &:hover {
            transform: scale(1.15);
            box-shadow: 1px 1px 5px 5px lighten($color-primary, 25);
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
}
